$color-black: rgb(67, 99, 141);
$color-white: rgb(221, 244, 255);
$color-red: rgb(255, 100, 100);

$base-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$title-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$animation-config: fadeColor ease-in-out alternate 1s infinite;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: $color-white;
  font-family: $base-font;
}

h1 {
  font-family: $title-font;
  font-size: 2.5rem;
  font-style: italic;
}

p {
  font-size: 1.5rem
}

@import "./animations.scss";
@import "./addTool.scss";
